<file>${user.home}/logs/rocketmqlogs/broker_default.log</file>
<file>${user.home}/logs/rocketmqlogs/broker.log</file>
<file>${user.home}/logs/rocketmqlogs/commercial.log</file>
<file>${user.home}/logs/rocketmqlogs/lock.log</file>
<file>${user.home}/logs/rocketmqlogs/namesrv_default.log</file>
<file>${user.home}/logs/rocketmqlogs/namesrv.log</file>
<file>${user.home}/logs/rocketmqlogs/protection.log</file>
<file>${user.home}/logs/rocketmqlogs/remoting.log</file>
<file>${client.logRoot}/rocketmq_client.log</file>
<file>${user.home}/logs/rocketmqlogs/stats.log</file>
<file>${user.home}/logs/rocketmqlogs/storeerror.log</file>
<file>${user.home}/logs/rocketmqlogs/store.log</file>
<file>${user.home}/logs/rocketmqlogs/tools_default.log</file>
<file>${user.home}/logs/rocketmqlogs/tools.log</file>
<file>${user.home}/logs/rocketmqlogs/transaction.log</file>
<file>${user.home}/logs/rocketmqlogs/watermark.log</file>
<file>${user.home}/logs/rocketmqlogs/filtersrv_default.log</file>
<file>${user.home}/logs/rocketmqlogs/filtersrv.log</file>
       
        


